.containerE {
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 34vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.products{   
    margin-top: 20px;
     display: flex;
     gap: 30px;
}
.containerE .products .card{
    height: 23vh;
    
}
.containerE .products .card img{
    height: 190px;
}