.containerE {  
    margin-bottom: 100px;
    display: flex;    
    width: 100%;
    margin-top: 44px;   
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.products{    
    overflow: hidden;  
    height: 25vh;
    margin-top:35px;
     display: flex;
     gap: 30px;
}
.containerE .products .card{
    height: 10vh;
    
}
.containerE .products .card img{
    height: 190px;
}