.navigation ul {
    height: 30vh;
    display: flex;
   flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navigation nav ul {    
    list-style: none;
    
}
.navigation nav ul li .card{
    margin: 20px;
    margin-left: 50px;
}
